.coomon_wrapper {
  display: flex;
  min-height: 100vh;
  position: relative;
  .coming_soon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;

    h1 {
      font-size: 7em;
      color: #eeeeee;
    }
  }
  .dropdown {
    position: absolute;
    right: 0;
    top: 0;
    margin: 75px 20px;
    width: 300px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    padding: 40px 20px;
    z-index: 2;
    .users {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px 20px;
      justify-content: center;
      .new_user {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        img {
          width: 50px;
          height: 50px;
        }
      }
      .border {
        border-top: 1px solid #d5d5d5;
        border-bottom: 1px solid #d5d5d5;
        padding: 10px 0;
      }
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
      button {
        padding: 10px 20px;
        margin-top: 20px;
        border-radius: 30px;
        font-size: 18px;
        font-weight: 550;
        background-color: #d55151;
        color: #fff;
        border: 1px solid #d55151;
        cursor: pointer;
        &:hover {
          background: transparent;
          color: #d55151;
        }
      }
    }
  }
  .rightsection {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    position: relative;
    .chats_wrapper {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 90%;
      max-width: 400px;
      margin-right: 20px;
      z-index: 1;
      .chatbox {
        .chat_title {
          background-color: #4054c8;
          border-radius: 25px 25px 0 0;
          padding: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #fff;
          cursor: pointer;
          .chat_name {
            display: flex;
            align-items: center;
            gap: 10px;
            img {
              width: 20px;
              height: 20px;
            }
          }
          .icon {
            width: 20px;
            height: 20px;
          }
          .chevron {
            transform: rotate(180deg);
            width: 20px;
            height: 20px;
          }
        }
        .bottomsection {
          padding: 20px;
          background-color: #fff;
          height: 400px;
          overflow-y: scroll;
          &::-webkit-scrollbar {
            height: 100%;
            width: 10px;
          }
          &::-webkit-scrollbar-thumb {
            background: #d5d5d5;
            border-radius: 6px;
          }
          .user_wrapper {
            display: flex;
            align-items: center;
            position: relative;
            gap: 10px;
            margin-bottom: 10px;
            img {
              height: 50px;
              width: 50px;
              border-radius: 50%;
            }
            .offline {
              background-color: gray;
            }
            .online_user {
              width: 10px;
              height: 10px;
              border-radius: 50%;
              position: absolute;
              right: 0;
              background: #1ea959;
            }
            .offline_user {
              width: 10px;
              height: 10px;
              border-radius: 50%;
              position: absolute;
              right: 0;
              background: #d4d4d4;
            }
          }
        }
      }
    }
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #d5d5d5;
      padding: 20px;
      margin: 0 20px;
      .name_img {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }
    }

    .details {
      display: flex;
      padding: 20px 0;
      height: 100%;
      .company_title {
        text-align: center;
        padding-top: 20px;
        color: #9a9a9a;
        font-size: 18px;
        border-top: 1px solid #d5d5d5dc;
        margin: auto 20px;
      }
      .personal_details {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        margin: 0 30px;
        .key {
          text-align: right;
          width: 49%;
        }
        .info {
          width: 49%;
        }
        .user_name {
          text-align: right;
        }
      }
      .leftsection {
        width: 40%;
        border-right: 1px solid #d5d5d5;
        .user_name_img {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 20px;
          margin: 0 30px;
          img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
          }
        }
      }
      .rightdetails {
        width: 60%;
        position: relative;
        height: 100%;
        padding: 20px 20px 0 20px;
        flex: 1;
        .personal_details {
          justify-content: flex-start;
          margin: 0;
          gap: 10px;
          padding-left: 20px;
          .key {
            width: auto;
          }
          .info {
            width: auto;
          }
        }
        .latitude {
          display: flex;
          justify-content: flex-end;
          gap: 10px;
          margin-top: 10px;
        }
      }
    }
  }
}
